<%- include("partials/header.ejs") %>
<body>
    <div class="heading">
        <h1>Please select one</h1>
    </div>
    <div class="mainContainer">
        <form id="stopwatchForm" action="/stopWatch" method="get">
            <input type="submit" value="Stop Watch">
        </form>

        <form id="timerForm" action="/timer" method="get">
            <input type="submit" value="Timer">
        </form>
    </div>
</body>
</html>