<%- include("partials/header.ejs") %>
<body>
    <div class="watch-container">
        <div class="project-heading">
            <form id="indexForm" action="/" method="get">
                <input type="submit" value="Main Screen">
            </form>
        </div>

        <div id="inputContainer" class="input-items">
            <div class="input-group">
                <label class="input-label">Hour:</label>
                <input id="inputHour" placeholder="00" class="input-box" type="number">
            </div>
            <div class="input-group">
                <label class="input-label">Minute:</label>
                <input id="inputMinute" placeholder="00" min="0" max="59" class="input-box" type="number">
            </div>
            <div class="input-group">
                <label class="input-label">Second:</label>
                <input id="inputSecond" placeholder="00" min="0" max="59" class="input-box" type="number">
            </div>
        </div>

        <p id="outputContainer"><span class="min-width" id="outputHour">00</span> : <span class="min-width" id="outputMinute">00</span> : <span class="min-width" id="outputSecond">00</span></p>
        
        <div class="stopwatch-buttons">
            <button onclick="StartClock()" class="clock-button" id="startBtn">Start</button>
            <button onclick="StopClock()" class="clock-button" id="stopBtn">Stop</button>
            <button onclick="ResetClock()" class="clock-button" id="reset">Reset</button>
        </div>

        <center>
            <br>
            <span>Get <a target="_blank" href="https://www.insidethediv.com/projects-with-source-code"><b>More</b></a> JavaScript Project's Source Code Free. ❤❤</span>
        </center>
    </div>

    <script src="/timer.js"></script>
</body>
</html>